header{
    padding: 30px;
    padding-bottom: 5px;
}


#parte_1{
    text-align: center;
    font-size: 1rem;
    background-color: #ccc;
}


img{
    width: 100%;
    height: 80vh;
}

em strong{
    color: blue;
}

#parte_2{
    text-align: start;
    padding: 20px;
}

#parte_2 h1{
    text-align: center;
}

ul{
    font-family:cursive;
    display: inline-block;
    vertical-align: top;
    margin-right: 15%;
    
}

#parte_2 img{
    width: 50%;
}



